body {
  margin: 0;
}

header {
  display: flex;
  padding: 0 4vw;
  flex-direction: row;
}
header img {
  width: 100px;
}
header .hiden-menu {
  color: white;
  font-weight: 700;
  display: none;
  width: 75%;
}
header .hiden-menu .hiden-menu-left {
  display: flex;
  justify-content: space-between;
}
header .hiden-menu .hiden-menu-left .menu-itens {
  margin: 10px;
  font-size: 15px;
}
header .hiden-menu .hiden-menu-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
header .hiden-menu .hiden-menu-right .menu-itens {
  margin: 10px;
}
header .hiden-menu .hiden-menu-right button.equipe-ventas {
  color: white;
  background-color: #541554;
  border: white 1px solid;
  border-radius: 4px;
  display: none;
  margin: 0 10px;
}
@media screen and (min-width: 1430px) {
  header .hiden-menu .hiden-menu-right button.equipe-ventas {
    display: inline;
  }
}
header .hiden-menu .hiden-menu-right button {
  color: #541554;
  font-weight: 700;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: none;
}

.container-page1 {
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
  justify-content: center;
  background-color: #541554;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  text-align: center;
}
.container-page1 h1 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.0625;
  letter-spacing: -1.5px;
}
.container-page1 h1 span {
  color: #ecb22e;
}
.container-page1 h4 {
  color: white;
  font-size: 16px;
  margin: 4px 0 40px;
  font-weight: 400;
}
.container-page1 .content-column {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.container-page1 .content-column .column-left {
  flex-direction: column;
  margin-right: 9px;
}
.container-page1 .content-column .column-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container-page1 .content-column .column-right video {
  max-width: 600px;
}
.container-page1 form input {
  width: 100%;
  display: inline-block;
  box-shadow: inset 0 0 0 1px #611f69;
  background-color: #fff;
  padding: 19px 40px 20px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
.container-page1 form input.correo {
  color: #541554;
}
.container-page1 form input:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 2px #611f69;
}
.container-page1 form .google {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.container-page1 form .google img {
  width: 49px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  background-color: white;
  border-radius: 4px;
}
.container-page1 form .google input {
  background-color: rgb(66, 133, 244);
  color: white;
}
.container-page1 .hiden-info {
  color: white;
  margin: 30px 0;
  display: none;
}
@media screen and (min-width: 1020px) {
  .container-page1 .hiden-info {
    display: flex;
  }
}

/*PAGE 2*/
.container-page2 {
  background-color: #f4ede4;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
.container-page2 .title {
  padding: 3rem 0 0;
  font-size: 14px;
  text-align: center;
}
.container-page2 .title p {
  font-weight: 700;
  line-height: 1.4444;
  padding-left: 8vw;
  padding-right: 8vw;
  margin-bottom: 1rem;
  font-size: 16;
}
.container-page2 .title .container-logos {
  padding: 0 24px;
  height: 100px;
}
.container-page2 .title .container-logos .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.container-page2 .title .container-logos .logos img {
  margin: 10px;
}
.container-page2 section {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
}
.container-page2 section .video-section {
  max-height: 400px;
  max-width: 687px;
  display: none;
}
.container-page2 section img {
  max-width: 300px;
  height: auto;
}
.container-page2 section .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container-page2 section .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .container-page2 section .right .video-section {
    display: inline-block;
  }
  .container-page2 section .right img {
    display: none;
  }
}
.container-page2 section .text-section {
  margin: 20px 0 0 16px;
  max-width: 505px;
}
.container-page2 section .text-section .text {
  max-width: 600px;
  font-size: 1rem;
  line-height: 1.4444;
  font-weight: 450;
  letter-spacing: normal;
}
.container-page2 section .text-section .text h2 {
  font-size: 32px;
  margin-bottom: 16px;
  text-align: left;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -0.3px;
}
.container-page2 section .text-section .text a {
  text-decoration: none;
  color: rgb(18, 100, 163);
}

.container-page3 {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
.container-page3 .content {
  margin: 40px;
  text-align: center;
}
.container-page3 h3 {
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -0.3px;
  margin: 32px 0 16px 0;
  font-size: 1.9rem;
}
.container-page3 p {
  font-weight: 450;
  line-height: 1.4444;
  font-size: 1rem;
  margin: 0;
}
.container-page3 .buttons {
  margin: 16px 0 65px;
  text-align: center;
  width: 100%;
}
.container-page3 .video-customer-depo video {
  width: 90%;
  margin: 0;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
.container-page3 button {
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: 0.8px;
  padding: 19px 40px 20px;
  width: 100%;
  margin-bottom: 20px;
  max-width: 400px;
}
.container-page3 button:hover {
  cursor: pointer;
}
.container-page3 button.conoce-slack {
  color: white;
  background-color: #541554;
  border: none;
}
.container-page3 button.conoce-slack:hover {
  background-color: #4a154b;
  color: #fff;
  fill: #fff;
  border-color: #4a154b;
}
.container-page3 button.hablar-equipo {
  color: #541554;
  border: 1px solid #541554;
  background-color: white;
}
.container-page3 .lista-content {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
}
.container-page3 .lista-content .lista-itens {
  margin-bottom: 40px;
}
.container-page3 .lista-content .number {
  font-size: 52px;
  color: #541554;
  margin-bottom: 0.25rem;
  font-weight: 700;
  text-align: center;
}
.container-page3 .lista-content .info {
  margin-bottom: 30px;
  font-size: 13px;
  margin: 0 230px;
  font-weight: 400;
  line-height: 1.4286;
}
.container-page3 .content-customer-depo .customer-depo {
  padding: 2rem;
  line-height: 1.4444;
  text-align: left;
}
.container-page3 .content-customer-depo .customer-depo .customer-cote {
  font-style: italic;
  font-weight: 200;
  line-height: 1.417;
  letter-spacing: -0.3px;
  margin: 10px 0;
  text-align: justify;
  font-size: 1.25rem;
}
.container-page3 .content-customer-depo .customer-depo .customer-name {
  font-weight: 700;
  text-align: left;
}
.container-page3 .content-customer-depo .customer-depo .customer-position {
  text-align: left;
  margin-bottom: 20px;
}
.container-page3 .content-customer-depo .customer-depo a {
  text-decoration: none;
  color: rgb(18, 100, 163);
}
.container-page3 bottom {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: normal;
  font-size: 0.875rem;
  padding: 0 2rem;
  color: #696969;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/*PAGE4*/
.container-page4 {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  background-color: #f4ede4;
  padding: 48px 0;
}
.container-page4 h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}
.container-page4 .carousel-indicators {
  margin-bottom: -1.5rem !important;
}
.container-page4 .carousel-indicators button {
  background-color: #541554;
}
.container-page4 .carousel {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.container-page4 .carousel .carousel-inner {
  background-color: white;
  padding-bottom: 30px;
  width: 80%;
  margin: 0 auto;
}
.container-page4 .carousel img {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
.container-page4 .carousel .text-card {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-page4 .carousel .sub-title {
  font-size: 14px;
  margin-bottom: 10px;
}
.container-page4 .carousel .carousel-title {
  font-size: 24px;
  margin: 8px 0 16px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 30px;
}
.container-page4 .carousel a {
  text-decoration: none;
  color: rgb(18, 100, 163);
  padding: 20px 0;
  font-size: 14px;
}

.container-page5 {
  background: #4a154b;
  border: none;
  -webkit-clip-path: ellipse(75% 100% at center top);
          clip-path: ellipse(75% 100% at center top);
  height: auto;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.container-page5 h3 {
  text-align: center;
}
.container-page5 a {
  color: white;
}
.container-page5 .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  align-items: center;
  gap: 20px;
}
.container-page5 .buttons button {
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}
.container-page5 .buttons button.open-sorced {
  color: #541554;
  border: none;
}
.container-page5 .buttons button.open-sorced a {
  color: #541554;
}
.container-page5 .buttons button.talita {
  border: 1px solid white;
  color: white;
  background-color: #4a154b;
}

/*media queries*/
@media screen and (min-width: 1020px) {
  header .hiden-menu {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 85%;
  }
}

@media screen and (min-width: 768px) {
  .container-page1 .content-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .container-page1 .content-column .column-left {
    min-width: 400px;
    max-width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .container-page1 .content-column .column-right {
    align-content: center;
  }
}

@media screen and (min-width: 1020px) {
  .container-page2 .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1020px) {
  .container-page2 .title .logos {
    gap: 45px;
  }
}
@media screen and (min-width: 1020px) {
  .container-page2 section {
    padding-top: 0;
  }
}
@media screen and (min-width: 1020px) {
  .container-page2 section .left {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .container-page2 section .left .text-section {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1020px) {
  .container-page2 section .left .text-section {
    max-width: 449px;
  }
}
@media screen and (min-width: 1020px) {
  .container-page2 section .left {
    flex-direction: row;
    gap: 103px;
    padding: 48px 0;
  }
  .container-page2 section .left .video-section {
    display: inline-block;
    max-width: 38rem;
  }
  .container-page2 section .left img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container-page2 section .right .text-section {
    display: block;
    margin-bottom: 20px;
    margin-left: 20%;
  }
}
@media screen and (min-width: 1020px) {
  .container-page2 section .right .text-section {
    display: inline-block;
    max-width: 700px;
    margin-left: 15%;
  }
}
@media screen and (min-width: 1020px) {
  .container-page2 section .right {
    flex-direction: row-reverse;
    gap: 103px;
    padding: 48px 0;
  }
  .container-page2 section .right .video-section {
    display: inline-block;
    max-width: 38rem;
  }
  .container-page2 section .right img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container-page3 .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container-page3 .lista-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 240px;
  }
  .container-page3 .lista-content .lista-itens {
    max-width: 190px;
  }
  .container-page3 .lista-content .number {
    text-align: left;
    margin: 0 20px;
    font-size: 58px;
    text-align: center;
  }
  .container-page3 .lista-content .info {
    margin: 0 20px;
    text-align: left;
    text-align: center;
  }
}
@media screen and (min-width: 1020px) {
  .container-page3 .content-customer-depo {
    display: flex;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1020px) {
  .container-page3 .content-customer-depo .customer-depo {
    padding: 0;
    max-width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .container-page4 .carousel-hiden-box {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container-page4 .carousel {
    display: flex;
    max-width: 80%;
  }
}
@media screen and (min-width: 1020px) {
  .container-page4 .carousel {
    max-width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .container-page4 .carousel .carousel-inner {
    display: flex;
    gap: 20px;
    background-color: #f4ede4;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container-page4 .carousel .carousel-inner .carousel-item {
    display: block;
    margin: 0;
    background-color: white;
    flex-basis: 40%;
  }
}
@media screen and (min-width: 1020px) {
  .container-page4 .carousel .carousel-inner .carousel-item {
    flex-basis: 22%;
  }
}

@media screen and (min-width: 1020px) {
  .container-page5 .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .container-page5 .buttons button {
    width: 25%;
    padding: 20px;
    border-radius: 5px;
    font-weight: 700;
  }
}/*# sourceMappingURL=styles.css.map */